a { color: #0093c8; text-decoration: none; }
	a:hover { color: #0093c8; }

.lang-nolang-rest, .lang-nolang { color: #ddd; }
	.lang-nolang .h1, .lang-nolang .h2, .lang-nolang .h3, .lang-nolang .h4 { color: #fff; }
	.lang-nolang i { color: #fff; }

@media (max-width: 1180px) /* Small desktop */ {

	.content pre > code { background: #15191D; border: solid 1px #e7eaee; border-top: solid 1px #dbdde2; border-left: solid 1px #e2e5e9; display: block; padding: 10px; -webkit-border-radius: 2px; border-radius: 2px; overflow: auto; }
		.content pre > code::-webkit-scrollbar { width: 15px; height: 15px; }
		.content pre > code::-webkit-scrollbar-thumb { background: #ddd; -webkit-border-radius: 8px; border-radius: 8px; border: solid 4px #15191D; }
		.content pre > code:hover::-webkit-scrollbar-thumb { background: #999; -webkit-box-shadow: inset 2px 2px 3px rgba(0,0,0,0.2); box-shadow: inset 2px 2px 3px rgba(0,0,0,0.2); }
}

@media (min-width: 1180px) /* Big desktop */ {
	body:not(.no-literate) .content-root { background-color: #15191D; -webkit-box-shadow: inset 750px 0 #fff, inset 751px 0 #dfe2e7, inset 760px 0 5px -10px rgba(0,0,0,0.1); box-shadow: inset 750px 0 #fff, inset 751px 0 #dfe2e7, inset 760px 0 5px -10px rgba(0,0,0,0.1); }
	body:not(.no-literate) .content > div > pre > code,
	body:not(.no-literate) .content > div > pre > code { padding: 10px; background: #15191D; border: solid 1px #e7eaee; border-top: solid 1px #dbdde2; border-left: solid 1px #e2e5e9; display: block; padding: 10px; -webkit-border-radius: 2px; border-radius: 2px; overflow: auto; }
}
@media (min-width: 1380px) /* Big desktop */ {
    body:not(.no-literate) .content-root {
        background-color: #15191D;
        -webkit-box-shadow: inset 870px 0 #fff, inset 871px 0 #dfe2e7, inset 880px 0 5px -10px rgba(0,0,0,0.1);
        box-shadow: inset 870px 0 #fff, inset 871px 0 #dfe2e7, inset 880px 0 5px -10px rgba(0,0,0,0.1);
    }
}
@media (min-width: 1620px) /* Big desktop */ {
    body:not(.no-literate) .content-root {
        background-color: #15191D;
        -webkit-box-shadow: inset 1010px 0 #fff, inset 1011px 0 #dfe2e7, inset 1020px 0 5px -10px rgba(0,0,0,0.1);
        box-shadow: inset 1010px 0 #fff, inset 1011px 0 #dfe2e7, inset 1020px 0 5px -10px rgba(0,0,0,0.1);
    }
}
@media (min-width: 1880px) /* Big desktop */ {
    body:not(.no-literate) .content-root {
        background-color: #15191D;
        -webkit-box-shadow: inset 1130px 0 #fff, inset 1131px 0 #dfe2e7, inset 1140px 0 5px -10px rgba(0,0,0,0.1);
        box-shadow: inset 1130px 0 #fff, inset 1131px 0 #dfe2e7, inset 1140px 0 5px -10px rgba(0,0,0,0.1);
    }
}
@media (min-width: 2520px) /* Big desktop */ {
    body:not(.no-literate) .content-root {
        background-color: #15191D;
        -webkit-box-shadow: inset 1560px 0 #fff, inset 1561px 0 #dfe2e7, inset 1570px 0 5px -10px rgba(0,0,0,0.1);
        box-shadow: inset 1560px 0 #fff, inset 1561px 0 #dfe2e7, inset 1570px 0 5px -10px rgba(0,0,0,0.1);
    }
}

/*
Monokai style - ported by Luigi Maselli - http://grigio.org
*/

pre code { display: block; padding: 0.5em; background: #272822; }

pre .tag,
pre .tag .title,
pre .keyword,
pre .literal,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .tex .special { color: #F92672; }

pre code { color: #DDD; }

	pre code .constant { color: #66D9EF; }

pre .class .title { color: white; }

pre .attribute,
pre .symbol,
pre .symbol .string,
pre .value,
pre .regexp { color: #BF79DB; }

pre .tag .value,
pre .string,
pre .subst,
pre .title,
pre .haskell .type,
pre .preprocessor,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt { color: #DBFD52; }

pre .comment,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .deletion,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula { color: #75715E; }

pre .keyword,
pre .literal,
pre .css .id,
pre .phpdoc,
pre .title,
pre .haskell .type,
pre .vbscript .built_in,
pre .sql .aggregate,
pre .rsl .built_in,
pre .smalltalk .class,
pre .diff .header,
pre .chunk,
pre .winutils,
pre .bash .variable,
pre .apache .tag,
pre .tex .special,
pre .request,
pre .status { font-weight: bold; }

pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata { opacity: 0.5; }
